
<div class="container">
  <h1>My Interviews</h1>
  <p>Please stay updated on your interviews and attend approriately</p>
  <hr>
  <table>
    <tr>
      <th>Interview Round</th>
      <th>Date</th>
      <th>Time</th>
      <th>Duration</th>
      <th>Attendance Response</th>
      <th>Status</th>
      <th>Interview Experience</th>
         
    </tr>
    <tr *ngIf="interviews.length === 0">
      <td colspan="7" class="no-interview">
        No interviews found!
      </td>
    </tr>

  </table>

  

</div>

   

 


