<div class="container">
    <div class="boardingbox">
        <!-- home title -->

        <div class="left">
            <div class="title">
                <div class="title__s1">
                    <p>Boarding Pass</p>
                    <span>Lets go through the process first!</span>
                </div>
                <div class="title__icon">
                    <i class="fas fa-plane" style="font-size:30px; color:white;"></i>

                </div>

            </div>
        </div>
        <div class="right">
            <div class="sub">
                <div class="sub__s1">
                    <p>Checklist</p>
                    <span>Welcome</span>
                </div>
                <div class="sub__s2">
                    <i class="fas fa-plane" style="font-size:30px; color:white;"></i>
                </div>
            </div>

        </div>

    </div>
    <div class="boardingsection">
        <div class="section">
            <div class="user">
                <div class="sec__left">
                    <label for="">Name</label>
                    <p>ARUL SUBRAMANI</p>
                </div>
                <div class="decision">
                    <div>
                        <label for="">DECISON</label>
                        <p>WAITING</p>
                    </div>
                    <div>
                        <label for="">NEW DESINGATION</label>
                        <p>JAVA DEVELOPER</p>
                    </div>


                </div>
                <div class="joining">
                    <label for="">JOININIG DATA</label>
                    <p>N/A</p>
                </div>
            </div>

            <div class="sec__right">
                <div class="checkbox__one">
                    <input type="checkbox">
                    <p>Photo</p>
                </div>
                <div class="checkbox__two">
                    <input type="checkbox">
                    <p>Forms/Documents</p>
                </div>
                <div class="checkbox__three">
                    <span class="material-symbols-outlined clock-icon">
                        history
                    </span>
                    <span class="text">Offer Acceptance</span>
                </div>

            </div>
        </div>

    </div>
    <!-- border -->
    <div class="footer"></div>
    <div class="end">
        <p>Note: Grey onboarding pass starts your application journey, turn red with offer, then goes green after completing checklist - ready for joing day!</p>
    </div>
</div>