.footer {
  position: relative;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.footer-overlay {
  background: rgba(10, 30, 60, 0.85);
  padding: 50px 30px;
}

.footer-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1.3fr 1.3fr;
  gap: 40px;
}

.footer-col h4 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #ffffff;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
}

.footer-col ul li:hover {
  text-decoration: underline;
}

.footer-logo {
  display: flex;
  flex-direction: column;
}

.logo-text {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.footer-address {
  margin-top: 6px;
  font-size: 13px;
  color: #ccc;
  line-height: 1.4;
}
.footer-address span{
    color: #fff;
    font-weight: bold;
}


.footer-col p {
  font-size: 14px;
  margin: 8px 0;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 20px;
  padding: 15px 0;
  text-align: center;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
  color: #ddd;
}

@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 550px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}
