<p>job-description works!</p>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <!-- job title -->

        <div class="jobtitle">
            <div class="jobtitle__s1">
                <h4>Java Developer</h4>
                <p>You are being considered for this role</p>
            </div>
            <div class="jobtitle__s2">
                <span class="material-symbols-outlined icon">
                    Share
                </span>
                <p>Share Job</p>
            </div>

        </div>


        <!-- job card -->

        <div class="jobcard">
            <div class="jobcard__s1">
                <h4>BANGALORE -</h4>
                <p>Primary Location</p>
            </div>
            <div class="jobcard__s1">
                <h4>AZENTIO_GROUP</h4>
                <p>Job Type</p>
            </div>
            <div class="jobcard__s1">
                <h4>3-10 YRS</h4>
                <p>Experience</p>
            </div>
            <div class="jobcard__s1">
                <h4>1</h4>
                <p>#positions</p>
            </div>
        </div>

        <hr class="sec-div">
        <!-- job description title -->
        <div>
            <div class="jdes">
                <div class="jdes__title">
                    <h1>Job Description</h1>
                    <p>Detailed Job Description Of The Role</p>
                </div>
                <div class="jdes__title__s1">
                    <p>View</p>
                    <span class="material-symbols-outlined">
                        Check_Indeterminate_Small
                    </span>
                </div>
            </div>


        </div>

        <hr class="sec__div__1">

        <!-- job description -->

        <div>
            <div class="des">
                <h1>About Azentio</h1>
                <p>Asentio Software incorporated in 2020 at Singapore, has been carved out of 3i Infotech, Beyontec
                    Technologies and Path Sojutions. Azentio Software provides mission critical, vertical-specific
                    software products for customers in banking, financial services and insurance vertical and includes
                    key products such as KASTLE (Universal Lending), AMLOCK (Anti-Money Laundering & Compliance Software suite), IMal, PREMIA Astra (Core Insurance software), ORION (Enterprise Resource Planning software) and MDUND Plus (Asset Management platform). Azentio has over 800
                customers in more than 60 countries, with a team of over 2,300 employees across offices in 12 countries (and growing) globally and is wholly owned by Funds by Apax Partners</p>
            </div>
        </div>
    </div>

</body>

</html>