<div class="signup-container">
 

  <form [formGroup]="signupForm" (ngSubmit)="signup()" class="signup-form">


     <h2>Sign Up</h2>

    
    <div class="form-group">
      <label>Email</label>
      <input type="email" placeholder="Enter email" formControlName="email">

      <small class="error"
        *ngIf="signupForm.get('email')?.errors?.['required'] && signupForm.get('email')?.touched">
        Email is required
      </small>

      <small class="error"
        *ngIf="signupForm.get('email')?.errors?.['email'] && signupForm.get('email')?.touched">
        Enter a valid email address
      </small>
    </div>

   
    <div class="form-group">
      <label>New Password</label>
      <input type="password" placeholder="Enter password" formControlName="newPassword">

      <small class="error"
        *ngIf="signupForm.get('newPassword')?.errors?.['required'] && signupForm.get('newPassword')?.touched">
        Password is required
      </small>

      <small class="error"
        *ngIf="signupForm.get('newPassword')?.errors?.['minlength'] && signupForm.get('newPassword')?.touched">
        Password must be at least 6 characters
      </small>

      <small class="error"
        *ngIf="signupForm.get('newPassword')?.errors?.['pattern'] && signupForm.get('newPassword')?.touched">
        Password must contain uppercase, lowercase, number & special character
      </small>
    </div>

  
    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" placeholder="Confirm password" formControlName="confirmPassword">

      <small class="error"
        *ngIf="signupForm.get('confirmPassword')?.errors?.['required'] && signupForm.get('confirmPassword')?.touched">
        Confirm Password is required
      </small>

      <small class="error"
        *ngIf="signupForm.hasError('mismatch') && signupForm.get('confirmPassword')?.touched">
        Passwords do not match
      </small>
    </div>

    <p class="link-text">
      Already have an account?
      <a routerLink="/signin">Sign In</a>
    </p>

    <button type="submit" [disabled]="signupForm.invalid">
      Sign Up
    </button>

  </form>
</div>