<div>
    <div class="jobcard">
        <!-- job card -->
        <div class="jobcard__des">
            <div class="jobcard__s1">
                <p>Job ID:740</p>
                <h1>Angular Developer - Front-End</h1>
                <p class="exp">Mumbai - India | 4-6 Years of Experience</p>
                <button>Apply Now</button>
            </div>

            <div class="jobcard__s2">
                <img src="../../assets/jd.png" alt="jd">
            </div>
        </div>
    </div>
    <!-- about the job -->
    <div class="about">
        <div class="back">
            <span class="material-symbols-outlined" style="font-size:25px; color:#1DD09B;">
                arrow_back
            </span>
            <p> <a routerLink="/job-description">Back</a> </p>
        </div>

        <div class="about__s1">
            <h1>About the Job</h1>
        </div>
        <div class="about__s2">
            <p>Azentio Software incorporated in 2020 at Singapore, has been carved out of 3i Infotech, Beyontec
                Technologies and Path Solutions. Azentio Software provides mission critical, vertical-specific software
                products for customers in banking, financial services and insurance verticals and includes key products
                such as KASTLE™ (Universal Lending), AMLOCK™ (Anti-Money Laundering & Compliance software suite),
                PREMIA™ Astra (Core Insurance software), ORION™ (Enterprise Resource Planning software) and MFUND Plus™
                (Asset Management platform). Azentio has over 800 customers in more than 60 countries, with a team of
                over 2,300 employees across offices in 12 countries (and growing) globally and is wholly owned by Funds
                advised by Apax Partners.</p>

        </div>
        <div class="about__s3">
            <p>
                Azentio offers a comprehensive range of products – serving core operations to modern digital needs – for
                the
                financial services industry. Our deep domain knowledge and solutions in financial services extend across
                insurance, retail and corporate lending, Islamic Banking, anti-money laundering and asset management. In
                addition, Azentio proudly serves mid-market enterprises across the Middle East, Africa, Asia Pacific,
                and India
                with a comprehensive ERP solution.
            </p>
        </div>
        <div class="about__s4">
            <p>At Azentio, we believe that growth is a continuous journey. We believe that each step of this journey
                must be taken by committing to excellence - excellence in our products, our services, our ideas, and our
                people.

            </p>
        </div>
        <div class="title">
            <div class="title__name">
                <label for="">Job Title: </label>
                <p>Angular -Developer - Front-End</p>
            </div>
            <div class='title__location'>
                <label for="">Location: </label>
                <p>Ghansoli (Navi Mumbai)</p>
            </div>
        </div>
        <div class="role__sum">
            <label for="">Role Summary :</label>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ullam numquam exercitationem consequuntur
                sapiente similique dolorem atque magnam tenetur dicta nobis reiciendis odio asperiores aliquam
                consectetur quas at iure nisi delectus sint, eum voluptates animi autem. Facere odio facilis voluptates.
            </p>
        </div>
        <div class="whatwill__do">
            <ul>
                <p> What will you do?</p>
                <li> Process Domestic and foreign vendor Invoices post 2/3 way verification.</li>
                <li> Process Domestic and foreign vendor Invoices post 2/3 way verification.</li>
                <li>Good knowledge on accruals. </li>
                <li>Knowledge of preparing Balance Sheet & P&L Schedules.</li>
                <li>Reconcile the accounts payable ledger to ensure that all bills and payments are accounted for and
                    properly posted.</li>
                <li>Verify and investigate discrepancies, if any, by reconciling vendor accounts and monthly vendor
                    statements

                </li>
                <li> Understand expense accounts and cost centers.</li>
            </ul>

        </div>
    </div>

</div>