<div>
    <div class="jobcard">
        <!-- job card -->
        <div class="jobcard__des">
            <div class="jobcard__s1">
                <p>Job ID:740</p>
                <h1>Angular Developer - Front-End</h1>
                <p class="exp">Mumbai - India | 4-6 Years of Experience</p>
                <button>Apply Now</button>
            </div>

            <div class="jobcard__s2">
                <img src="../../assets/jd.png" alt="jd">
            </div>
        </div>
    </div>
    <!-- about the job -->
    <div class="about">
        <div class="back">
            <span class="material-symbols-outlined" style="font-size:25px; color:#1DD09B;">
                arrow_back
            </span>
            <p> <a routerLink="/job-description">Back</a> </p>
        </div>

        <div class="about__s1">
            <h1>About the Job</h1>
        </div>
        <div class="about__s2">
            <p>Azentio Software incorporated in 2020 at Singapore, has been carved out of 3i Infotech, Beyontec
                Technologies and Path Solutions. Azentio Software provides mission critical, vertical-specific software
                products for customers in banking, financial services and insurance verticals and includes key products
                such as KASTLE™ (Universal Lending), AMLOCK™ (Anti-Money Laundering & Compliance software suite),
                PREMIA™ Astra (Core Insurance software), ORION™ (Enterprise Resource Planning software) and MFUND Plus™
                (Asset Management platform). Azentio has over 800 customers in more than 60 countries, with a team of
                over 2,300 employees across offices in 12 countries (and growing) globally and is wholly owned by Funds
                advised by Apax Partners.</p>

        </div>
        <div class="about__s3">
            <p>
                Azentio offers a comprehensive range of products – serving core operations to modern digital needs – for
                the
                financial services industry. Our deep domain knowledge and solutions in financial services extend across
                insurance, retail and corporate lending, Islamic Banking, anti-money laundering and asset management. In
                addition, Azentio proudly serves mid-market enterprises across the Middle East, Africa, Asia Pacific,
                and India
                with a comprehensive ERP solution.
            </p>
        </div>
        <div class="about__s4">
            <p>At Azentio, we believe that growth is a continuous journey. We believe that each step of this journey
                must be taken by committing to excellence - excellence in our products, our services, our ideas, and our
                people.

            </p>
        </div>
        <div class="jobtitle">
            <p>Job Title:<span>Agular Developer - Front-End</span></p>
            <p>Location:<span>Ghansoli (Navi Mumbai)</span></p>
        </div>
    </div>

</div>