:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.top-header {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 2px solid #0b4fa3;
  padding: 10px 20px;
  box-sizing: border-box;
  
}

.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.logo {
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
  color: #0b4fa3;
}

.menu {
  display: flex;
  align-items: center;
}

.menu a {
  margin-left: 20px;
  text-decoration: none;
  font-size: 17px;
  color: #0b4fa3;
  font-weight: bold;
}

.menu a:hover {
  color: #063a78;
  font-weight: bold;
  font-size: 18px;
}

.login-btn {
  background-color: #0b4fa3;
  color: #ffffff !important;
  padding: 6px 14px;
  border-radius: 5px;
}

.marquee-wrapper {
  width: 100%;
  background-color: #e8f4ff;
  padding: 8px 10px;
  font-size: 14px;
  color: #0b4fa3;
  font-weight: 500;
  box-sizing: border-box;
}
